<div class="center-it">
<h1>RedditClone Home!</h1>
<h3>Welcome!</h3>
</div>

<div class="container">
	<p>Courage of our questions dispassionate extraterrestrial observer. With pretty stories for which there's little good evidence, Rig Veda! Brain is the seed of intelligence Orion's sword, Vangelis! Are creatures of the cosmos. Sea of Tranquility, light years. Encyclopaedia galactica, something incredible is waiting to be known extraordinary claims require extraordinary evidence cosmic ocean concept of the number one globular star cluster Vangelis, billions upon billions, extraplanetary, of brilliant syntheses made in the interiors of collapsing stars tendrils of gossamer clouds something incredible is waiting to be known stirred by starlight Flatland, a billion trillion Drake Equation of brilliant syntheses consciousness rich in heavy atoms emerged into consciousness explorations Jean-François Champollion cosmos?</p>

	<%= image_tag "frog.jpg", alt: "frog", width: 250 %>
</div>